In [1]:
## connecting the database
import sqlite3
conn=sqlite3.connect('Example.db')
conn

In [2]:
## iterate tables, rows
cursor=conn.cursor()

In [3]:
## Creating tables

cursor.execute('''
Create table if not exists employee(
               id Integer Primary Key,
               name Text not null,
               age Integer,
               department text
               )
''')
##Commiting the tables
conn.commit()

In [4]:
cursor.execute("""Select * from employee""")

In [5]:
## Insert the data in the table

cursor.execute("""
Insert into employee(name,age,department)values('Krish',32,'DataScientists'),('John',30,'Maths'),('Neel',23,'Softwareengineer')
               """)
conn.commit()

In [6]:
cursor.execute("""select * from employee""")
rows=cursor.fetchall()

##Printing the data
for r in rows:
    print(r)

(1, 'Krish', 32, 'DataScientists')
(2, 'John', 30, 'Maths')
(3, 'Neel', 23, 'Softwareengineer')

In [7]:
## Update the data in the tables

cursor.execute("""
                update employee
                set age=34
                where name='Krish'
""")
conn.commit()

In [8]:
cursor.execute("""select * from employee""")
rows=cursor.fetchall()

##Printing the data
for r in rows:
    print(r)

(1, 'Krish', 34, 'DataScientists')
(2, 'John', 30, 'Maths')
(3, 'Neel', 23, 'Softwareengineer')

In [9]:
## Deleting the data from the tables
cursor.execute("""
        delete from employee
        where name='John' 
""")
conn.commit()

In [10]:
cursor.execute("""select * from employee""")
rows=cursor.fetchall()

##Printing the data
for r in rows:
    print(r)

(1, 'Krish', 34, 'DataScientists')
(3, 'Neel', 23, 'Softwareengineer')

In [15]:
## Working with sales data

## connect the database
connection=sqlite3.connect('Sales_data.db')
cursor=connection.cursor()

## create a table sales data
cursor.execute("""
Create table if not exists sales(
               id INT Primary Key,
               date Text Not Null,
               product Test not null,
               sales INTeger,
               region Text)
""")

sales_data=[
    ('2023-01-21','Prod1',123,'South'),
    ('2023-02-21','Prod2',230,'South'),
    ('2023-03-21','Prod3',55,'South'),
    ('2023-04-21','Prod4',3,'South')
]
## Inserting the data
cursor.executemany('''
Insert into sales (date,product,sales,region)values(?,?,?,?)                  
''',sales_data)

connection.commit()

In [17]:
cursor.execute("""select * from sales""")
rows=cursor.fetchall()

##Printing the data
for r in rows:
    print(r)

(None, '2023-01-21', 'Prod1', 123, 'South')
(None, '2023-02-21', 'Prod2', 230, 'South')
(None, '2023-03-21', 'Prod3', 55, 'South')
(None, '2023-04-21', 'Prod4', 3, 'South')