# Data Encoding
1.Nominal/OneHotEncoding
2.Label and Ordinal Encoding
3.Target Guided Ordinal Encoding

## OneHotEncoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
##Create a simple DataFrame
df=pd.DataFrame({
    'color':['red','green','blue','green','yellow','Orange']
})
df.head()

    color
0     red
1   green
2    blue
3   green
4  yellow

In [3]:
## Creating an instance of OneHotEncoder
encoder=OneHotEncoder()

In [8]:
encode=encoder.fit_transform(df[['color']]).toarray()

In [9]:
en_df=pd.DataFrame(encode,columns=encoder.get_feature_names_out())
en_df

   color_Orange  color_blue  color_green  color_red  color_yellow
0           0.0         0.0          0.0        1.0           0.0
1           0.0         0.0          1.0        0.0           0.0
2           0.0         1.0          0.0        0.0           0.0
3           0.0         0.0          1.0        0.0           0.0
4           0.0         0.0          0.0        0.0           1.0
5           1.0         0.0          0.0        0.0           0.0

In [15]:
encoder.transform([['blue']]).toarray()

c:\Work\DataScientists\Full-Stack-Data-Science\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 1., 0., 0., 0.]])

In [14]:
pd.concat([df,en_df],axis=1)

    color  color_Orange  color_blue  color_green  color_red  color_yellow
0     red           0.0         0.0          0.0        1.0           0.0
1   green           0.0         0.0          1.0        0.0           0.0
2    blue           0.0         1.0          0.0        0.0           0.0
3   green           0.0         0.0          1.0        0.0           0.0
4  yellow           0.0         0.0          0.0        0.0           1.0
5  Orange           1.0         0.0          0.0        0.0           0.0

In [18]:
import seaborn as  sns
df1=sns.load_dataset('tips')
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
encode=OneHotEncoder()
en_df=encode.fit_transform(df[['sex','smoker','day','time']]).toarray()
encoder=pd.DataFrame(en_df)
encoder

KeyError: "None of [Index(['sex', 'smoker', 'day', 'time'], dtype='object')] are in the [columns]"