In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
names=['jack','jacob','krish']
print(names)

['jack', 'jacob', 'krish']

In [4]:
mixed_list=[1,'Hello',3.12,True]
print(mixed_list)

[1, 'Hello', 3.12, True]

In [5]:
## Accessing list items

fruits=['apple','banana','kiwi','orange','grapes']
fruits

['apple', 'banana', 'kiwi', 'orange', 'grapes']

In [6]:
fruits[0]

'apple'

In [7]:
fruits[0:6]

['apple', 'banana', 'kiwi', 'orange', 'grapes']

In [8]:
fruits[::-1]

['grapes', 'orange', 'kiwi', 'banana', 'apple']

In [9]:
print(fruits)
print(fruits[1])
print(fruits[1:3])
print(fruits[-1:])

['apple', 'banana', 'kiwi', 'orange', 'grapes']
banana
['banana', 'kiwi']
['grapes']

In [10]:
## Modifying the list items

fruits[1]='watermelon'
fruits

['apple', 'watermelon', 'kiwi', 'orange', 'grapes']

In [11]:
fruits.append("cherry")
fruits

['apple', 'watermelon', 'kiwi', 'orange', 'grapes', 'cherry']

In [12]:
fruits.insert(1,'banana')
fruits

['apple', 'banana', 'watermelon', 'kiwi', 'orange', 'grapes', 'cherry']

In [13]:
fruits.remove("banana")
fruits

['apple', 'watermelon', 'kiwi', 'orange', 'grapes', 'cherry']

In [14]:
fruits.pop()
fruits

['apple', 'watermelon', 'kiwi', 'orange', 'grapes']

In [16]:
fruits.index('banana')

ValueError: 'banana' is not in list

In [20]:
fruits.sort()

In [21]:
fruits

['apple', 'grapes', 'kiwi', 'orange', 'watermelon']

In [22]:
fruits.reverse()

In [23]:
fruits

['watermelon', 'orange', 'kiwi', 'grapes', 'apple']

In [24]:
fruits.clear()
fruits

[]

In [29]:
## Slicing List
numbers=[1,2,3,4,5,6,7,8,9,0]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 0]
[1, 3, 5, 7, 9]
[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
0

In [33]:
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 0

In [35]:
lst=[]
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
## List comprehemsiom

x=[i**2 for i in range(10)]
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
sqaure=[i**2 for i in range(10)]
sqaure

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
even_lst=[num for num in range(10) if num%2==0]
print(even_lst)

[0, 2, 4, 6, 8]

In [41]:
l1=[1,2,3,4]
l2=['a','b','c','d']
pair=[[i,j] for i in l1 for j in l2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [42]:
## List comprehension functions
words=['Hello','World','python','Programming']
b=[len(i) for i in words]
b

[5, 5, 6, 11]