In [1]:
## Variables

a=100
b=80

In [5]:
## Declaring and Assigning Variables
age=32
height=1.9
name="Krish"
is_student=True

## printing the variable

print("Age :",age)
print("Name :",name)
print("Height :",height)

Age : 32
Name : Krish
Height : 1.9

In [ ]:
## Naming Conversion
"""
1.Variable names should be describtive
2.They must start with letter or numbers
3.Variable names are case sensitive.
"""

In [9]:
height=9.8
int(height)

9

In [13]:
float(int(height))

9.0

In [15]:
## Dynamic Typed Language
var=10
print(var,type(var))
var='Krish'
print(var,type(var))
var=10,7
print(var,type(var))

10 <class 'int'>
Krish <class 'str'>
(10, 7) <class 'tuple'>

In [19]:
## Input
age=int(input("Enter the Age: "))
print(age,type(age))

23 <class 'int'>